*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


/* HEADER */
header{
    height: 80vh;
}

.menu-header{
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.menu-sx{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 15px;
}

.menu-dx{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
    font-size: 15px;
}

img{
    padding-bottom: 10px;
    height: 28px;
    width: 100px;
}


.content-header{
    background-color:#b4d0e7;
    height: 70vh;
    padding-top: 80px;
}

a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

button{
    margin-left: 20px;
    text-align: center;
    width: 55px;
    height: 20px;
    color: white;
    background-color: #0061ff;
    border: #0061ff;

}

.lavoro{
    width: 1000px;
    height: 400px;
    background-color: white;
}



/* / HEADER */



/* MAIN */

main{

    
}

.container-main{
    background-color: white;
    width: 800px;
}

.first-section{
    background-color: aqua;
    height: 500px;
}

.second-section{
    background-color: pink;
    height: 500px;
}

.third-section{
    background-color: red;
    height: 500px;
}

.fourth-section{
    background-color: grey;
    height: 500px;
}

.fifth-section{
    background-color: deepskyblue;
    height: 500px;

}
/* / MAIN */



/* FOOTER */

footer{
    height: 60vh;
    background-color: black;
    
}

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    height: 400px;
}

.footer-actions{
    background-color: white;
    color: black;
    flex-direction: column;
}

.flex-column{
    height: 300px;
    padding-top: 50px;
}

/* / FOOTER */