*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* flex utils */

.flex{
    display: flex;
}

/* HEADER */


.menu-header{
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.menu-sx{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 15px;
}

.menu-dx{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
    font-size: 15px;
}

img{
    padding-bottom: 10px;
    height: 28px;
    width: 100px;
}

a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

#button-start{
    margin-left: 20px;
    text-align: center;
    width: 55px;
    height: 20px;
    color: white;
    background-color: #0061ff;
    border: #0061ff;
}

#button-start:hover{
    opacity: 0.8;
}

.content-header{
    background-color:#b4d0e7;
    padding-top: 40px;
}

.proposta-cliente{
    width: 1200px;
    height: 520px;
    
}

.content-header-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

h1{
    font-size: 75px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;

}

#text-header{
    padding-left: 150px;
}


#button-header{
    background-color: #0061ff;
    border: #0061ff;
    color: white;
    width: 190px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -2px;
    text-align: center;
}

#button-header:hover{
    opacity: 0.8;
}

#img-header{
    width: 570px;
    height: 355px;
    margin-right: 160px;
}

#freccetta{
    font-size: 2.0rem;
    margin-top: 50px;
}

p{
    font-size: 0.9rem;
}

/* / HEADER */



/* MAIN */


.container-main{
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
}


 /* first section */

.first-section{
    background-color: white;
    width: 800px;
    color: black;
    padding-top: 100px;
}

h2{
    font-size: 2.0rem;
}

.select-payment{
    padding-top: 40px;
}

.column{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 );
    border: 1px solid #d0d0d3;
    margin: 35px;
    height: 800px;
    font-size: 0.8rem;
  }

.column-container{
    margin-left: -35px;
    margin-right: -50px;
  }


.intestazione-colonna-testo{
    width: 100%;
    border: 0.1px solid #d0d0d3;
    padding: 10px;
    text-align: center;
}

.select-payment{
    font-size: 0.8rem;
}

.tariffa{
    margin-top: 20px;
    padding-right: 20px;
}

#payment-month{
    padding-top: 15px;
    padding-bottom: 50px;
}


h3{
    font-size: 1.4rem;
}


#features{
    padding-left: 20px;
    padding-bottom: 20px;
}

.prova{
    padding-left: 20px;
    padding-bottom: 50px;
}


#link-tariffa{
    color: #0000ee;
    text-decoration: underline;
    padding-right: 20px;
}

.line{
    padding-left: 20px;
    padding-right: 130px;
    color: #d0d0d3;
    padding-bottom: 50px;
}

#check{
    color: #0063ff;
}

#title-highlights{
    padding-bottom: 20px;
    padding-left: 20px;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #d0d0d3;
    height: 200px;
    margin-right: 10px;
    font-size: 0.8rem;
    width: 800px;
}

.team{
    padding-top: 10px;
    width: 100%;
    border: 0.1px solid #d0d0d3;
    text-align: center;
}

/* /first section */



/* second section */

.second-section{
    background-color: white;
    padding-top: 100px;
    
}
.container-section-2{
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 528px;
}

.text-section-2{
    
    padding-top: 150px;
    padding-left: 105px;
}

#img-partner {
    width: 400px;
    height: 340px;
    margin-top: 100px;
}

/* /second section */


/* third section */

.third-section{
    background-color: white;
    height: 900px;
    width: 800px;
}

.conteiner-third-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin-top: 50px;
    width: calc(100% / 3);
    font-size: 1.0rem;
    padding-right: 60px;
}
 
#img-section-3{
    width: 220px;
    height: 220px;
}

#text-section-3{
    font-size: 0.8rem;
}


/* /third section */

/* fourth section */

.fourth-section{
    background-color: white;
    width: 800px;
    height: 300px;
    margin-bottom: 30px;
}

#title-fourth-section{
    margin-top: 150px;
    margin-bottom: 80px;
    width: 500px;
    height: 78px;
    margin-right: 300px;
}

#link-fourth-section{
    color: #0000ee;
    text-decoration: underline;
    margin-left: 5px;
    margin-top: 20px;
}

/* /fourth section */



/* fifth section */

#company-feedback{
    background-color: #b4d0e7;
    height: 700px;
}

.block-container{
    display: flex;
    flex-wrap: wrap;
}

.feedback-container{
    width: calc(100% - 27vw);
    background-color: #f5f5f5;
    padding: 40px;
    min-height: 30vw;
}

#img-fifth-section{
    width: 200px;
    height: 100px;
}

.square{
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#company-blocks > .flex{
    align-items: flex-start;
}

.square img{
    width: 100%;
}

#company-feedback,
#company-blocks{
    height: 800px;
}

.wrap{
    flex: wrap;
}

.type-1{
    background-color: #a2d39b;
}

.type-2{
    background-color: #61082b;
}
.type-3{
    background-color: #0093ce;
}

.type-4{
    background-color: #ff1c1c;
}

.type-5{
    background-color: #d5001f;
}

.type-6{
    background-color: #b4d0e7;
}

.type-7{
    background-color: #0d2481;
}

.type-8{
    background-color: #ffd830;
}

.line-fifth-section{
    background-color: #d0d0d3;
    margin-bottom: 30px;
    margin-left: 2px;
    width: 100px;
}

.sign{
    margin-top: 30px;
}

#text-fifth-section{
    color: #61082b;
    margin-left: 350px;
    margin-top: 100px;
    width: 388px;
    height: 78px;
    
}

#button-fifth-section{
    width: 190px;
    height: 30px;
    margin-top: 100px;
    margin-right: 400px;
    color: black;
    background-color: white;
    border: white;
    

}


/* /fifth section */





/* sixth section */

.sixth-section{
    background-color: white;
    height: 400px;
    width: 800px;
}

#title-sixth-section{
    margin-top: 100px;
    margin-bottom: 50px;
}

#text-sixth-section{
    padding-top: 25px;
    padding-bottom: 25px;
}



h4{
    padding-bottom: 20px;
}





/* / MAIN */



/* FOOTER */

footer{
    height: 80vh;
    background-color: black;   
}

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    height: 400px;
}

.footer-actions{
    flex-direction: column;
    align-items: stretch;
    padding-top: 80px;
    color: white; 
}

h3{
    padding-bottom: 20px;
    padding-right: 30px;
}

#community{
    padding-left: 19px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#links-footer{
    color: white;
    margin-bottom: 20px;
    font-size: 0.7rem;
    padding-right: 30px;
}

.logo-footer{
    color: #d0d0d3;
    margin-top: 40px;
    margin-left: 295px;
    font-size: 0.8rem;
}

.line-footer{
    width: 5%;
    color: #d0d0d3;
    margin-left: 300px;
   
}

/* / FOOTER */